<h1>Game <%= @game.id %></h1>

<div class="square">
  <%= render partial: 'letter', collection: @game.letters.chars[0..3], locals: { target: false } %><%= render partial: 'letter', collection: [@game.target_letter], locals: { target: true } %><%= render partial: 'letter', collection: @game.letters.chars[4..7], locals: { target: false } %>
</div>

<div class="turn-form">
  <%= render partial: 'turns/new' %>
</div>

<div class="guesses">
  <ul>
    <%= render partial: 'turn', collection: @game.turns %>
  </ul>
</div>