<h1>Game <%= @game.id %></h1>

<div class="square">
  <% @game.letters.chars[0..3].each do |letter| %>
    <div class="letter">
      <%= letter %>
    </div>
  <% end %>

  <div class="letter target">
    <%= @game.target_letter %>
  </div>

  <% @game.letters.chars[4..8].each do |letter| %>
    <div class="letter">
      <%= letter %>
    </div>
  <% end %>
</div>

<div class="turn-form">
  <%= render partial: 'turns/new' %>
</div>

<div class="guesses">
  <ul>
    <% @game.turns.each do |turn| %>
      <li><%= turn.guess %></li>
    <% end %>
  </ul>
</div>